header {
    width: 296px;
  }
  .navbar-nav {
    a {
        &:hover{
            border-left: 4px solid #198754;
            color:#198754
        }
    }
  }
  
  .user {
    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
    }
  }